$text:rgb(34,34,34);
$background: rgb(244, 244, 244);
$action: rgb(100,181,246);
$reaction: rgb(244,143,177);

$break-small: 320px;
$break-medium: 712px;
$break-large: 1023px;

@font-face {
    font-family: "Fredericka";
    src: url(../static/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

body {
    color: $text;
    background-color: $background;
}

a {
    color: $action;
    cursor: pointer;
}

a:hover {
    color: hotpink;
}

#the_header {
    width:100%;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

.cursor_hover {
    cursor: pointer;
}

.logo_header {
  height: 77.5px;
  width: 70px;
  display: inline-block;
}

.logo_img {
    width:100%;
    height:100%;
}

.title_header {
    padding-left:5% !important;
    display: inline-block;
    height:66px;
    font-size: 24px;
    vertical-align:top;
}


.top_action_holder {
    text-align:right;
    padding-top:30px !important;
}

.action_icon {
    display: inline-block;
    margin-right:5% !important;
}

.inline_href {
    display: inline-block;
}

.inline_content {
    display: inline-block;
}

#root {
    text-align: center;
}

#content_holder  {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}
#upload_form {
    display: inline-block;
}

#sign_in_form {
    padding: 40px 40px 40px 40px;
}

#file_list {
    margin-top:40px;
    float:left;
    width: 100%;
    margin-left: 16%;
}

.file_in_list {
    width: 68%;
    //max-width: 800px;
    text-align: left;
    display: inline-block;
}

#close_file_view_holder {
        text-align: left;
}

#close_file_view {
    display: inline-block;
    margin-bottom:40px;
    margin-top:40px;
}

#sign_in_form {
    display: hidden;
}

#submit_form {
  width:100%!important;
}
